.search {
    
    &__input {
        width: 10rem;
        height: 2rem;
        padding: 0.5rem 2rem;
        border-radius: 2rem;
    }

    &__icon {
        transform: translate(-2.5rem, 36%);
        width: 2rem;
    }
}
